<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
<testsuites>
    <testsuite name="Units">
        <directory suffix="Test.php">./tests/Units</directory>
    </testsuite>
</testsuites>
</phpunit>